@font-face {
    font-family: gilroy ;
    src: url(Gilroy-Medium.e7e7c091.ttf);
  }




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.top-img{
    height: 100vh;
    width: 100%;
    display: flex;
    /* opacity: 0; */
   
    /* position: relative; */
}
.home-img-div{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 88;
}
.home-img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* opacity: 0; */
}
.left-chair-div, .right-chair-div{
  height: 100%;
  width: 100%;
  /* background-color: antiquewhite; */
  position: absolute;
  z-index: 88;
}
.left-chair-div img{
    height: 59vw;
    position: absolute;
    top: -15.5%;
    left: -1.9%;
    width: 104vw;
    z-index: 99;
}
.right-chair-div img{
    height: 59.5vw;
    position: absolute;
    top: -16%;
    left: -1.5%;
    width: 105vw;
    z-index: 99;
}

button{
    z-index: 100;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
}

.mid-video{
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 80;
    
}
.mid-video video{
    height: 45vh;
    width: 55vw;
    object-fit: cover;
    
}


.bottom-video{
    height: 100%;
    width: 100%;
    position: absolute;
    /* opacity: 0; */
    top: 0%;
    z-index: 77;
    /* left: 50%; */
    /* transform: translate(0%, -50%); */

}
.bottom-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.cursor{
    height: 7.5vw;
    width: 7.5vw;
    background-color: rgba(255, 255, 255, 0.292);
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    text-transform: uppercase;
    font-family: gilroy;
    font-weight: 600;
    opacity: 0;
    scale: 0;
    cursor: pointer;
}