@font-face {
    font-family: gilroy;
    src: url(Gilroy-Medium.e7e7c091.ttf);
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

.content {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.top-img {
    height: 100vh;
    width: 100%;
    display: flex;
    /* opacity: 0; */

    /* position: relative; */
}

.home-img-div {
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 88;
}

.home-img-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* opacity: 0; */
}

.left-chair-div,
.right-chair-div {
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    position: absolute;
    z-index: 88;
}

.left-chair-div img {
    height: 59vw;
    position: absolute;
    top: -6.9vw;
    left: -1.9%;
    width: 104vw;
    z-index: 99;
}

.right-chair-div img {
    height: 59.5vw;
    position: absolute;
    top: -7.1vw;
    left: -1.5%;
    width: 105vw;
    z-index: 99;
}

button {
    z-index: 100;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
}

.mid-video {
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 80;
}

.mid-video video {
    height: 45vh;
    width: 55vw;
    object-fit: cover;

}


.bottom-video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: 77;

}

.bottom-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.cursor {
    height: 9vw;
    width: 9vw;
    position: fixed;
    color: #fff;
    border: 2px solid #ffffff36;
    z-index: 999;
    border-radius: 50%;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    line-height: 2vw;
    text-transform: uppercase;
    font-family: gilroy;
    font-weight: 600;
    opacity: 0;
    scale: 0;
    cursor: pointer;
    backdrop-filter: blur(7px);
}



@media (min-width: 600px) and (max-width: 750px) {
    .content {
        height: 100vh;
        width: 100vw;
    }

    .home-img-div img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* opacity: 0; */
    }

    .left-chair-div img {
        height: 110vh;
        position: absolute;
        top: -5vw;
        left: -32%;
        width: 165vw;
        z-index: 99;
    }

    .right-chair-div img {
        height: 110vh;
        position: absolute;
        top: -5vw;
        left: -37%;
        width: 175vw;
        z-index: 99;
    }
    .mid-video video {
        height: 37vh;
        width: 130vw;
        object-fit: cover;

    }
    .cursor {
        height: 17vw;
        width: 17vw;
        border: 2px solid #ffffff36;
        backdrop-filter: blur(7px);
        z-index: 99999999;
        position: absolute;
        bottom: 8%;
        transform: translateX(-50%);
        left: 50%;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        font-size: 2vh;
    }
    
}

@media (max-width: 600px) {
    .content {
        height: 100vh;
        width: 105%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-img-div img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: translateX(-4%);
        /* opacity: 0; */
    }
    .mid-video {
        height: 100vh;
        width: 100vw;
        /* background-color: red; */
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 80;
    }
    
    .mid-video video {
        height: 33vh;
        width: 115vw;
        object-fit: cover;

    }
    
    .left-chair-div img {
        height: 105vh;
        position: absolute;
        top: -5vw;
        left: -123%;
        width: 350vw;
        z-index: 99;
    }

    .right-chair-div img {
        height: 105vh;
        position: absolute;
        top: -5vw;
        left: -117%;
        width: 355vw;
        z-index: 99;
    }
   

    .cursor {
        height: 40vw;
        width: 40vw;
        border: 2px solid #ffffff36;
        backdrop-filter: blur(7px);
        z-index: 99999999;
        position: absolute;
        bottom: 8%;
        border-radius: 50%;
        opacity: 1;
        scale: 1;
        font-size: 2vh;
    }
}