@font-face {
  font-family: gilroy ;
  src: url(Gilroy-Medium.e7e7c091.ttf);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: gilroy, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
.section-1{
  height: 100vh;
  width: 100%;
  background-color: #111;
}
.navbar{
  height: 10vw;
  width: 100%;
  padding: 0 2vw;
  background-color: aqua;

  /* background-color: red; */
  /* transform: translateY(-50%); */
}

.nav-top, .nav-bottom{
  height: 50%;
  width: 100%;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-top-left-img{
  height: 100%;
  width: 9vw;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-top-left-img img{
  height: 100%;
  width: 100%;
}

.nav-top-right{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-div{
  height: 2vw;
  width: 2vw;
  border: 2px solid #222;
  border-radius: 50%;
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  /* background-color: red; */
}
.search-div{
  height: 2.2vw;
  position: relative;
  width: 12vw;
  background-color: #000;
  border-radius: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.search-inner{
  height: 1.6vw;
  width: 11.5vw;
  background-color: beige;
  border-radius: 2.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 9;
}
.search-div i{
  padding-left: 1vw;
  font-size: 1vw;
}
.search-rounded{
  position: absolute;
  height: 3vw;
  width: 15vw;
  /* background-color: #107C10; */
  background-color: yellow;
  transform: rotate(90deg);
  animation: rotate 3s infinite normal none;
  filter: blur(4px);
  
  /* z-index: 8; */
}


@keyframes rotate{
  0%{
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(180deg);
  }
}



.nav-bottom{
  background-color: pink;
}
.nav-bottom-left, .nav-bottom-right{
  height: 100%;
  width: 50%;
}

.nav-bottom-left-img, .nav-top-left-img{
  height: 100%;
  width: 8vw;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bottom-left-img img{
  height: 110%;
  width: 100%;
}

.nav-bottom-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-bottom-right p{
  font-size: 1.3vw;
  font-weight: 400;
  padding: 1vw;
}

.nav-menu-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 1vw; */
  
}
.nav-menu-bar span{
  height: 3px;
  width: 29px;
  display: inline-block;
  background-color: #111;
  margin: 2px ;
  border-radius: 2px;
}